# Copie este arquivo, renomeie para .env e preencha com seus dados locais
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=sua_senha_secreta_aqui
POSTGRES_DB=samavi_admin_db
DATABASE_URL=postgres://admin_user:sua_senha_secreta_aqui@db:5432/samavi_admin_db
PUBLIC_ADMIN_URL=http://localhost:4322