---
import AdminLayout from '../layouts/AdminLayout.astro';
import FormularioProduto from '../components/dashboard/FormProduct.astro';
import ListProduct from '../components/dashboard/ListProduct.astro';
import { pool } from '../lib/db.js';
import fs from 'node:fs/promises';
import path from 'node:path';

//cadastrar produto
let mensagemSistema = "";

if (Astro.request.method === "POST") {
    try {
        const dados = await Astro.request.formData();
        const nome = dados.get("nome");
        const descricao = dados.get("descricao");
        const mensagem_whatsapp = dados.get("mensagem_whatsapp");
        const arquivoFoto = dados.get("foto");

        let nomeFotoFinal = null;
        if (arquivoFoto && typeof arquivoFoto === 'object' && arquivoFoto.name && arquivoFoto.size > 0){
            nomeFotoFinal = `${Date.now()}-${arquivoFoto.name.replace(/\s+/g, '-')}`;
            
            const diretorioUploads = path.join(process.cwd(), 'public', 'uploads');
            await fs.mkdir(diretorioUploads, { recursive: true });
            
            const caminhoArquivo = path.join(diretorioUploads, nomeFotoFinal);
            const buffer = Buffer.from(await arquivoFoto.arrayBuffer());
            await fs.writeFile(caminhoArquivo, buffer);
        }
        await pool.query(
            'INSERT INTO admin_user.produtos (nome, descricao, mensagem_whatsapp, foto) VALUES ($1, $2, $3, $4)',
            [nome, descricao, mensagem_whatsapp, nomeFotoFinal]
        );
        
        mensagemSistema = "Produto cadastrado com sucesso.";
    } catch (erro) {
        console.error(erro);
        mensagemSistema = "Erro ao salvar o produto no banco de dados.";
    }
}
---

<AdminLayout title="Painel de Controle">
    <div class="min-h-screen bg-gray-50 p-8">
        <div class="max-w-6xl mx-auto">
            <div class="flex justify-between items-center bg-white p-4 rounded-lg shadow-sm border border-gray-100 mb-6">
                <h1 class="text-2xl font-bold text-gray-800">Gestão de Produtos</h1>
                <a href="/" class="text-red-600 font-semibold hover:underline">Sair do Sistema</a>
            </div>
            
            {mensagemSistema && (
                <div class="bg-blue-100 border border-blue-300 text-blue-800 p-4 mb-6 rounded-lg font-medium">
                    {mensagemSistema}
                </div>
            )}
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                
                <div>
                    <FormularioProduto />
                </div>
                <div>
                    <ListProduct />
                </div>

            </div>
        </div>
    </div>
</AdminLayout>