---
// src/pages/index.astro
import AdminLayout from '../layouts/AdminLayout.astro';
import BrandHeader from '../components/BrandHeader.astro';
---

<AdminLayout title="Login">
    <main class="w-full max-w-md mx-auto p-6">
        <BrandHeader />
    </main>
</AdminLayout>